[data-slot="drag-and-drop-list"] {
  width: 100%;
}

[data-slot="drag-and-drop-list-instructions"],
[data-slot="drag-and-drop-list-announcer"] {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  clip-path: inset(50%);
}

[data-slot="drag-and-drop-list-items"] {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

[data-slot="drag-and-drop-list-item"] {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  cursor: grab;
  list-style: none;
  outline: none;
  user-select: none;
}

[data-slot="drag-and-drop-list-item"][data-focus-visible] {
  border-radius: 0.5rem;
  outline: 2px solid hsl(var(--ring));
}

[data-slot="drag-and-drop-list-item"]:focus-visible {
  border-radius: 0.5rem;
  outline: 2px solid hsl(var(--ring));
}

[data-slot="drag-and-drop-list-item"][data-is-grabbing] {
  cursor: grabbing;
  opacity: 0.6;
  outline: 2px dashed hsl(var(--ring));
}

[data-slot="drag-and-drop-list-drag-icon"] {
  display: flex;
  width: 1.5rem;
  align-items: center;
  margin-right: 1rem;
  color: hsl(var(--muted-foreground));
}

[data-slot="drag-and-drop-list-item-content"] {
  flex-grow: 1;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
}

[data-slot="drag-and-drop-list-remove"] {
  display: flex;
  overflow: visible;
  width: 1.5rem;
  align-items: center;
  padding: 0;
  border-style: none;
  margin-left: 1rem;
  background-color: transparent;
  color: hsl(var(--muted-foreground));
  cursor: pointer;
}

[data-slot="drag-and-drop-list-remove"]:focus-visible {
  border-radius: 0.125rem;
  outline: 2px solid hsl(var(--ring));
  outline-offset: 2px;
}

[data-slot="drag-and-drop-list-indicator"] {
  position: relative;
  z-index: 1;
  height: 2px;
  margin: -1px 0;
  background-color: hsl(var(--ring));
}

[data-slot="drag-and-drop-list-indicator"]::before {
  position: absolute;
  top: -4px;
  left: -6px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 6px solid hsl(var(--ring));
  content: "";
}
