[data-slot="navbar-menubar"] {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  padding: 0.25rem;
  border: 1px solid var(--border);
  border-radius: 0.375rem;
  background-color: var(--background);
  gap: 0.25rem;
}

[data-slot="navbar-nav"] {
  position: relative;
}

[data-slot="navbar-trigger"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 0.375rem;
  background: none;
  color: var(--muted-foreground);
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  outline: none;
  transition: background-color 100ms ease-out;
}

[data-slot="navbar-nav"][data-state="open"] [data-slot="navbar-trigger"],
[data-slot="navbar-trigger"]:hover,
[data-slot="navbar-trigger"]:focus-visible {
  background-color: var(--accent);
  color: var(--accent-foreground);
}

/* Include the top margin in the navbar content pointer events */
[data-slot="navbar-content"]::before {
  position: absolute;
  top: -0.5rem;
  left: 0;
  width: 100%;
  height: 0.5rem;
  content: "";
}

[data-slot="navbar-content"] {
  position: absolute;
  z-index: 50;
  top: 100%;
  left: 0;
  min-width: 8rem;
  padding: 0.25rem;
  border: 1px solid var(--border);
  border-radius: 0.375rem;
  margin-top: 0.5rem;
  background: var(--popover);
  box-shadow:
    0 4px 6px -1px rgb(0 0 0 / 10%),
    0 2px 4px -2px rgb(0 0 0 / 10%);
  color: var(--popover-foreground);
  opacity: 0;
  pointer-events: none;
  transform-origin: top;
  will-change: transform, opacity;
}

[data-slot="navbar-content"][data-state="closed"] {
  transition:
    opacity 150ms ease-in,
    transform 150ms ease-in;
}

[data-slot="navbar-content"][data-state="closed"][data-open-menu-direction="start"] {
  transform: translateX(-100%) scale(0.98);
}

[data-slot="navbar-content"][data-state="closed"][data-open-menu-direction="end"] {
  transform: translateX(100%) scale(0.98);
}

[data-slot="navbar-content"][data-state="closed"][data-open-menu-direction="closed"] {
  transform: translateY(1rem) scale(0.98);
}

[data-slot="navbar-content"][data-state="open"] {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(0) translateY(0) scale(1);
  transition:
    opacity 200ms ease-out,
    transform 200ms cubic-bezier(0.16, 1, 0.3, 1);
}

[data-slot="navbar-item"] {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.375rem 0.5rem;
  border-radius: 0.375rem;
  color: inherit;
  cursor: default;
  font-size: 0.875rem;
  gap: 0.5rem;
  outline: none;
  text-decoration: none;
  user-select: none;
}

[data-slot="navbar-item"]:hover,
[data-slot="navbar-item"]:focus-visible {
  background-color: var(--accent);
  color: var(--accent-foreground);
}

[data-slot="navbar-item"][data-disabled] {
  opacity: 0.5;
  pointer-events: none;
}

[data-slot="navbar-menubar"][data-disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}
